.main_page {
    margin: 1rem;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.main_page::-webkit-scrollbar {
    display: none;
}

.grid_container {
    gap: 0.2rem;
    row-gap: 0.2rem;
}

.grid_item {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 768px) {
    .main_page{
        padding:0.1rem;
        margin:0rem;
    }
    .grid-container {
        grid-template-columns: auto;
    }

}