.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #272727;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
}

.modal h3 {
    color: #fff0ff;
    margin: 0;
}

.modal-buttons {
    margin-top: 20px;
}

.modal-buttons button {
    margin: 0 5px;
    padding: 8px 16px;
    border: none;
    background-color: #f44336;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.modal-buttons button:hover {
    background-color: #d32f2f;
}